{% extends 'base.html' %}

{% block title %}Devices - License Server{% endblock %}

{% block content %}
<h2>Devices</h2>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>#</th>
      <th>License</th>
      <th>User</th>
      <th>Organisation</th>
      <th>System ID</th>
      <th>Machine Name</th>
      <th>Activated</th>
      <th>Last Check</th>
      <th>IP</th>
      <th>Version</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      <td>{{ device.id }}</td>
      <td>{{ device.license.key }}</td>
      <td>{{ device.user.email }}</td>
      <td>{{ device.organization.name }}</td>
      <td>{{ device.system_id }}</td>
      <td>{{ device.machine_name or '-' }}</td>
      <td>{{ device.activation_timestamp.strftime('%Y-%m-%d') }}</td>
      <td>{{ device.last_check.strftime('%Y-%m-%d') if device.last_check else '-' }}</td>
      <td>{{ device.ip_address or '-' }}</td>
      <td>{{ device.app_version or '-' }}</td>
      <td>

      {% if device.is_active %}
      <form method="POST"
            action="{{ url_for('admin.disable_device', device_id=device.id) }}"
            style="display:inline;">
          <input type="submit" value="Disable" class="link-button">
      </form>
      {% else %}
      <form method="POST"
            action="{{ url_for('admin.enable_device', device_id=device.id) }}"
            style="display:inline;">
          <input type="submit" value="Enable" class="link-button">
      </form>
      {% endif %}


      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}